repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        args: [ --fix ]

  - repo: https://github.com/psf/black
    rev: 23.11.0
    hooks:
      - id: black
      
  - repo: https://github.com/python-poetry/poetry
    rev: 2.0.1  # 請根據 2026 年最新版本調整
    hooks:
      - id: poetry-check
      - id: poetry-lock
