[tool.ruff]
ignore = [
    "PLR09",
    "PLR2004",
]

select = [
    "F",
    "W",
    "E",
    "I",
    "A",
    "B",
    "C4",
    "SIM",
    "UP",
    "PERF",
    "PGH",
    "PIE",
    "PL",
    "RUF",
    "TRY3",
]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = [
    "tests",
]

[tool.black]
line-length = 88
target-version = ['py310']
include = '\.pyi?$'

[tool.isort]
profile = "black"
multi_line_output = 3